{% extends 'file_management/app.html' %}


{% block title %}
Coop Repo
{% endblock %}

{% block additional_css %}
<style>
    /* Add additional CSS specific to the dashboard page */
</style>
{% endblock %}

{% block content %}

{% include 'file_management/navbar.html' %}
{% load static %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
    <div class="row">
        <div class="col" style="box-shadow: 0px 0px;">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                                {% for name, breadcrumb_path in breadcrumbs %}
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}?path={{ breadcrumb_path }}">{{ name }}</a></li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="border-radius: 2px;border-top-left-radius: 1px;border-top-right-radius: 1px;border-bottom-right-radius: 1px;border-bottom-left-radius: 1px;border-style: solid;border-color: rgb(228,229,233);">
                             
                            
                            
                        
                            <button class="btn btn-light btn-sm px-3 mx-2 {% if not can_upload_file %}disabled{% endif %} " data-bs-toggle="modal" data-bs-target="#createFolderModal">
                                <i class="fas fa-folder-plus" style="color: #00aeef;font-size: 20px;"></i>
                            </button>
                            <button class="btn btn-light btn-sm px-3 {% if not can_create_folder %}disabled{% endif %} " data-bs-toggle="modal" data-bs-target="#uploadFileModal" style="font-size: 20px;">
                                <i class="fas fa-file-upload" style="color: #00aeef;"></i>
                            </button>




                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive " style="height: 50vh; overflow-y: auto;">
                        <table class="table   table-hover" >
                            <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Type&nbsp;</th>
                                    <th>Modified Date</th>
                                    <th>Size&nbsp;</th>
                                    <th></th>
                                </tr>
                            </thead>
                          
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>
                                        {% if item.type == 'Folder' %}
                                            <i class="far fa-folder" style="color: #00aeef;font-size: 19px;"></i>
                                            <a href="{% url 'dashboard' %}?path={{ media_path }}/{{ item.name }}">{{ item.name }}</a>
                                        {% else %}
                                            <i class="far fa-file-alt" style="color: #00aeef;"></i>
                                            {{ item.name }}
                                        {% endif %}
                                    </td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.modified }}</td>
                                    <td>{{ item.size }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v" style="color: #00aeef;"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                                                {% if item.type == 'Folder' %}

                                                <li><a class="dropdown-item {% if not can_delete %}disabled{% endif %}" href="{% url 'delete_folder' %}?path={{ media_path }}&name={{ item.name }}" {% if not can_delete %}tabindex="-1" aria-disabled="true"{% endif %}>Delete Folder</a></li>
                                                
                                                   
                                                    <li><a class="dropdown-item" href="{% url 'download_folder' %}?path={{ media_path }}&name={{ item.name }}">Download Folder</a></li>
                                                {% else %}

                                                 

                                                       
                                                <li><a class="dropdown-item {% if not can_delete %}disabled{% endif %}"  href="{% url 'delete_file' %}?path={{ media_path }}&name={{ item.name }}" {% if not can_delete %}tabindex="-1" aria-disabled="true"{% endif %}>Delete File</a></li>
                                                    
                                                    <li><a class="dropdown-item" href="{% url 'view_file' %}?path={{ media_path }}&name={{ item.name }}">View File</a></li>
                                                    <li><a class="dropdown-item" href="{% url 'download_file' %}?path={{ media_path }}&name={{ item.name }}">Download File</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Folder Modal -->
<div class="modal fade" id="createFolderModal" tabindex="-1" aria-labelledby="createFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="createFolderModalLabel">Create New Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ folder_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="create_folder" class="btn btn-primary"  style="background: #00aeef;">Create Folder</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Upload File Modal -->
<div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ file_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="upload_file"   class="btn btn-primary"  style="background: #00aeef;">Upload File</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}