{% extends 'file_management/app.html' %}

{% block title %}
Coop Repo
{% endblock %}

{% block additional_css %}
<style>
    /* Add additional CSS specific to the dashboard page */
</style>
{% endblock %}

{% block content %}

{% include 'file_management/navbar.html' %}
{% load static %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
    <div class="row">
        <div class="col" style="box-shadow: 0px 0px;">
            <div class="row">
                <h6 class="text-center">
                    <i class="fas fa-search" style="color: #00aeef; font-size: 20px;"></i>
                    Search Results for "{{ query }}"
                </h6>
            </div>

            <div class="row">
                <div class="col">
                    <div class="table-responsive" style="height: 50vh; overflow-y: auto;">
                        {% if items %}
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Modified Date</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>
                                        {% if item.type == 'Folder' %}
                                            <i class="far fa-folder" style="color: #00aeef; font-size: 19px;"></i>
                                            <a href="{% url 'dashboard' %}?path={{ item.relative_path }}">{{ item.name }}</a>
                                        {% else %}
                                            <i class="far fa-file-alt" style="color: #00aeef;"></i>
                                            <a href="{% url 'download' %}?path={{ item.relative_path }}">{{ item.name }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.modified }}</td>
                                    <td>{{ item.size }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-warning text-center" role="alert">
                            Oops... no matching result, try another search key.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
