{% extends 'file_management/app.html' %}

{% block title %}
Users - Coop Repo
{% endblock %}

{% block additional_css %}
<style>
    /* Add additional CSS specific to the dashboard page */
</style>
{% endblock %}

{% block content %}

{% include 'file_management/navbar.html' %}
{% load static %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
    <div class="row">
        <div class="col" style="box-shadow: 0px 0px;">
            <div class="row">
                <h6 class="text-center">
                    <i class="fas fa-users" style="color: #00aeef; font-size: 20px;"></i> Users List
                </h6>
            </div>

            <div class="row">
               

                <div class="col">
                    <div class="table-responsive" style="height: 50vh; overflow-y: auto;">
                        {% if users %}
                        <table class="table table-bordered  table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    {% comment %} <th>First Name</th>
                                    <th>Last Name</th> {% endcomment %}
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Role/Group</th>
                                    <th>Joined Date</th>
                                    <th>Is Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    {% comment %} <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td> {% endcomment %}
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                  
                                    <td>
                                        {% if user.groups.all %}
                                            {% for group in user.groups.all %}
                                                {{ group.name }}
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            No group assigned
                                        {% endif %}
                                    </td>
                                    <td>{{ user.date_joined|date:"M d, Y" }}</td>
                                    <td>{{ user.is_active }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-warning text-center" role="alert">
                            Oops... No users found.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
